################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# /src/DR-HelpDesk.Api
/.vs
/.vs/slnx.sqlite
