@page
@model dr_helpdesk_webapp.Pages.HelpDeskModel
@{
    ViewData["Title"] = "Help Desk";
}

<h1>Help Desk Dashboard</h1>
<hr />

<h4>Welcome, @User.Identity.Name!</h4>

<p>
    This is where the main IT Service Management application will live. You'll be able to create new tickets, view existing tickets, and manage your support requests here.
</p>
