@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Digital Reign</h1>
    <p class="lead">Cybersecurity and Managed IT Services.</p>
    <hr />
    <p>Please log in to access your customer portal and help desk system.</p>
    <div>
        <a class="btn btn-primary btn-lg" href="/Identity/Account/Login">Customer Portal Login</a>
    </div>
</div>
